<<<<<<< HEAD
html {
 display: table; 
 margin: auto;
 vertical-align: baseline;
}

body {
  vertical-align: middle;
  padding: 10px;
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
  max-width: 900px;
  height: 100vh;
  text-align: justify;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

.article {
  padding-bottom: 20px;
}
h1 {
  color:  #e74c3c ;
}

h1.entry-title a { text-decoration: none; }

h2 {
  color:  #e74c3c ;
  text-align: center;
}

code {
	color: #212529;
}

.header {
  font-size: 30;
}

.buttons {
    max-width: 800px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons a.btn-primary {
  background-color: #0A145B;
}

.buttons a.btn-primary:hover {
  background-color: blue;
}

.buttons a.btn-light {
  min-width: 120px;
}

.buttons a.btn-primary:visited {
  color: white
}

.buttons a.btn-secondary {
  background-color: #550000;
}

.buttons a.btn-secondary:visited {
  color: white
}



.button_blue:hover {
  background-color: #444444;
}

.button_blue {
  border-radius: 12px;
  background-color: #0A145B;
}

.button_red {
  border-radius: 12px;
  background-color: #550000;
}

.button_white {
  border: 3px solid #0a145b;
  border-radius: 12px;
  background-color: #FFFFFF;
}

.button_white:hover {
  border: 3px solid #ff8080;
}

.button {
  width: 130px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: nonei;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header {
	padding: 20px;
}

.container {
  transition: 500ms;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

.item {
  border-radius: 10px;
  border: 3px solid #071159;
  flex: 1 1 0px;
  background: #DDDDDD;
  transition: 300ms;
}

.blue:hover {
  background: #afb9f7;
}
.red:hover {
  background: #f2b3b3;
}

.colhead {
	height: 40px;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
	background: #DDDDDD;
	font-size: 16px;
	font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colbody {
	display: flex;
	justify-content: center;
}

.main {
	display: flex;
}

.floatleft {
	float: left;
	flex: 3;
}

.floatright {
	border: 3px solid #071159;
	float: right;
	flex: 1;
	border-radius: 10px;
	padding: 10px;
	margin: 0 0 0 10px;
}

.copy-code-button {
  display: block;
}

.highlight {
	background: #F8F9F9;
	border: 1px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

.highlighter-rouge {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	color: #D63384;
	font-size: 14px;
	border: 1px solid #cccccc;
}

.nb {
	color: #AD0000;
}

.nt {
	color: blue;
}

.c {
	color: green;
}

div.language-bash.highlighter-rouge {
	border: 0;
}
