body {
  font-family: arial;
  font-size: 14px;
  width: 1024px;
  margin: auto;
}

h1 {
  color:  #e74c3c ;
}

.header {
  font-size: 30;
}

.button_blue {
  border-radius: 12px;
  background-color: #0A145B;
}

.button_red {
  border-radius: 12px;
  background-color: #550000;
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: nonei;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.header {
	padding: 20px;
}

#grid {
  height: 200px;
  transition: 500ms;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}

:where(.left, .center, .right) {
  border-radius: 10px;
  border: 3px solid #071159;
  background: #DDDDDD;
  transition: 300ms;
}

:where(.left):hover {
  background: #afb9f7;
}
:where(.center):hover {
  background: #f2b3b3;
}
:where(.right):hover {
  background: #afb9f7;
}

#grid:has(.left:hover) {
  grid-template-columns: 2fr 0.5fr 0.5fr;
}

#grid:has(.center:hover) {
  grid-template-columns: 0.5fr 2fr 0.5fr;
}
#grid:has(.right:hover) {
  grid-template-columns: 0.5fr 0.5fr 2fr;
}

.colhead {
	height: 40px;
	align-items: center;
	border-radius: 10px 10px 0px 0px;
	background: white;
	font-size: 16px;
	font-weight: bold;
}
