body {
  font-family: arial;
  font-size: 14px;
  width: 800px;
  margin: auto;
}

h1 {
  color:  #e74c3c ;
}

.header {
  font-size: 30;
}

.button_blue {
  border-radius: 12px;
  background-color: #0A145B;
}

.button_red {
  border-radius: 12px;
  background-color: #550000;
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: nonei;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
